

<div class="controls">
  <a [routerLink]="['info']" mat-raised-button color="primary">DOM XSS</a>
  <a [routerLink]="['search']" mat-raised-button color="primary">Reflected XSS</a>
  <a [routerLink]="['comments']" mat-raised-button color="primary">Stored XSS</a>
  <a [routerLink]="['dashboard']" mat-raised-button color="primary">Sandbox</a>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/fIaJDU-jGrA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div>
  Links:
  <a href="https://portswigger.net/web-security/cross-site-scripting">XSS explained</a>
</div>
