<mat-toolbar>
  <a [routerLink]="['']" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </a>
  <span>XSS examples</span>

  <span class="example-spacer"></span>
  <button (click)="login()" mat-icon-button class="login" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon> {{(auth.user | async)?.displayName}}
  </button>

</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>

